/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Londrina Solid', cursive;
}

/* Define variables for consistent styling */
:root {
  --dark-bg: #ff8181;
  /* --dark-bg: #0d0d0e; */
  --light: #e7e7e7;
  --textcolor: #dadada;
  /* --textcolor: #d6a668; */
  --spacing: 2rem;
}

body {
  color: var(--light);
  background-color: rgb(35, 35, 35);
}

canvas {

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ff8181;
}
#scene{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

#bg{
  transition: all 0.3s linear;
}



main {
  position: relative;
  font-size: 40px;
  color: var(--textcolor);
  z-index: 99;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  transform: translateY(22px);
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 3%;
}


.logo {
  font-family:'Londrina Solid', cursive;
  font-size: 45px;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 13px;
}

.logo:hover{
  color: var(--light);
}

.navlist {
  display: flex;
  list-style: none;
  font-weight: 300;
}

.navlist li {
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  
    
}

.navlist li:not(:last-child) {
  margin-right: 30px; /* Adjust the margin-right value to control the spacing */
}

.navlist li a {
  font-size: 26px;
  padding-bottom: 3px;
}

.navlist li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: var(--textcolor);
  transition: width 0.3s ease-in-out;
}

.navlist li:hover::after {
  width: 100%;
}



#menu-icon{
  color: var(--textcolor);
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;
  display: none;
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  
}
.hero-img{
  margin: 3px; 
}
.hero-img img{
  width: 100%;
  
}
.hero-text{
  font-size: 32px;
}
.hero-text button{
  display: inline-block;
  color: var(--textcolor);
  background-color: #09090900;
  border: 3px solid var(--textcolor);
  padding: 10px 30px;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 300;
  border-radius: 30px;
  margin: 8px 0;
  transition: all .15s ease;

}

.hero-text button:hover {
  color: white;
  background: var(--textcolor);
}


h1 {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 300%;
  font-style: bold;
  line-height: 0.9;
}

h2{
  font-weight: 300;
}
h7 {
  font-weight: 300;
}

h8{
  font-size: 20px;
  font-weight: 300;
  color: var(--textcolor);
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.swipe {
  position: absolute;
  bottom: -10px;
  left: 64px;
  transform: translate(0, -50px);
  width: 0;
  height: 100px;
  border-left: 5px solid rgba(255,255,255,.1);
}

.dart {
  position: absolute;
  left: -6px;
  width: 6px;
  height: 30px;
  background: var(--textcolor);
  animation: animate 3s linear infinite;
}

.dart:before {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  60% {
    transform: translateY(35px);
    opacity: 1;
  }
  100% {
    transform: translateY(70px);
    opacity: 0;
  }
}

.music {
  position: fixed;
  bottom: 40px;
  right: 50px;
  width: 75px; /* Adjust the width and height as needed */
  height: 75px;
  background-color: transparent;
  color: var(--textcolor);
  border: 3px solid var(--textcolor);
  border-radius: 50%; /* Make the button circular */
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease;
  z-index: 3;
}
.music:hover{
  background-color: var(--textcolor); 
  color: var(--light);
}



/* Verical socials navbar */
.vertical-navbar {
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
    
}

.vertical-navbar i{
  display: block;
  margin: 26px 0;
  font-size: 50px;
  align-items: center;
  color: var(--textcolor);
  transition: all .50s ease;
 
}
.vertical-navbar i:hover{
  color: var(--light);
}


h1,h2,h3,h4,p,blockquote,.contact-title{
  z-index: 10;
}

h3,
blockquote {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 200%;
  font-style: normal;
  line-height: 200%;
}

h4 {
  font-size: 170%;
  font-weight: 300;
  line-height: 200%;
}


h6{
  font-size: 24px;
}

#about {
  bottom: 100px;
}

section {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 10% 10% 10% 10%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;  /* stretch other sections off the screen */
  color: var(--textcolor);
  z-index: 1;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

p {
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--textcolor);
  word-spacing: 10px;
  text-decoration: none;
}

blockquote p {
  color: var(--dark-bg);
  background-color: var(--textcolor);
  font-size: 2.5rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

/*Art grid*/
#projects {
  overflow-x: hidden; /* Enable horizontal scrolling */
  position: relative;
}
.projects-wrapper {
  display: flex; /* Create a flex container */
  flex-wrap: nowrap; /* Prevent projects from wrapping to new lines */
  margin-top: 50px; /* Add margin to create space for the sticky heading */
  flex-direction: column; 
  scrollbar-width: none;
  
}

.projects-wrapper::-webkit-scrollbar {
  display: none; /* Hide the default scrollbar in WebKit browsers */
}

.projects-heading {
  position: sticky; /* Make the heading elements sticky */
  top: 0; /* Stick them to the top of the #projects section */
  padding: 10px;
  z-index: 1; 
}

.projects-container {
  display: flex; /* Create a flex container */
  flex-wrap: nowrap; 
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.project {
  display: inline-block; /* Display projects side by side */
  margin-right: 20px; /* Add spacing between projects */
  position: relative;
  overflow: hidden;
  flex-shrink: 0; /* Prevent shrinking of images */ 
  max-width: 100%;
}


.project img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.804), transparent);
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  pointer-events: none;
}

.project:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--dark-bg);
  font-size: 28px;
  line-height: 1.2;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  box-sizing: border-box;
}

/*Footer*/
footer {
  position: relative;
  padding: 20px;
  text-align: center;
  color: var(--textcolor);
  font-size: 0.9rem;
}

footer::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 10%;
  width: 80%;
  height: 2px; /* Adjust the height as desired */
  background-color: var(--textcolor); /* Change the color as desired */
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: medium;
}

.link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.link-container a i {
  transition: opacity 0.3s ease; /* Add transition effect */
}

.link-container a:hover i {
  opacity: 0.6; /* Set the opacity when hovered */
}

.formbox input,
textarea {
  width: 50%;
  padding: 12px 6px;
  margin: 7px 0;
  font-size: 20px;
  font-family: var(--Roboto);
  color: var(--textcolor);
  background-color: #09090900;
  border: 3px solid var(--textcolor);
  border-radius: 5px;
}

input::placeholder {
  color: var(--textcolor);
}

textarea::placeholder {
  color: var(--textcolor);
}

.btn {
  width: 50%;
  padding: 10px 6px;
  margin: 7px 0;
  font-size: 20px;
  font-family: var(--Roboto);
  color: var(--textcolor);
  background-color: #09090900;
  border: 3px solid var(--textcolor);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  color: white;
  background: var(--textcolor);
}





/* Mobile Responsive */
@media(max-width: 1535px){
  header{
    padding: 33px 3%;
    transition: .2s;
  }
  .vertical-navbar{
    padding: 0 9%;
    transition: .2s;
  }
  .swipe-down{
    right: 0%;
    transition: .2s;
  }
}
@media(max-width: 990px){
  .hero{
    grid-template-columns: 1fr; /*brings the image down */

  }
  .hero-text{
    box-sizing: border-box;   
    max-height: 20%;
    font-size: 100%;
    max-width: 100%; 
  }
  .hero-img{
    box-sizing: border-box;   
  }
  .hero-img img{
    width: 100%;   
  }
  .hero-text h1{
    font-size: 250%
  }
  .swipe-down{
    display: none;
  }
  .vertical-navbar{
    display: none;
  }
  #menu-icon{
    display: block;
  }
  
  .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
    z-index: 2000;
    font-weight: 300;
    
  }
  #header .navlist a{
    display: block;
    margin: 10px 0;
    margin-left: 0;
    color: var(--light); /* color of Navlist items */
    font-size: 25px;
  }
  .navlist li:not(:last-child) {
    margin-right: 0px; /* Adjust the margin-right value to control the spacing */
  }
  .navlist li::after {
    bottom: 15px;
  }
  .navlist.open{
    right: 0; 
    font-size: 100%;
  }
  .logo {
    padding: 0px;
    font-size: 200%;
    color: var(--textcolor);
  }
  
  
  .circle {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--textcolor);
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    filter: none;

  }

  .circle.open {
    width: 1000px;
    height: 900px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1000;
  }

  .music {
    bottom: 30px;
    right: 15px;
    width: 46px; /* Adjust the width and height as needed */
    height: 46px;
    font-size: 20px;

  }
  

  p{
    grid-template-columns: repeat(1, 1fr);
  }
  section{

    top: -30px;
    padding: 70px
  }
  section:not(:first-child){
    transition: .2s;
  }
  .formbox input,textarea {
  width: 100%;
  }
  .btn{
    width: 100%;
  }
  .swipe {
    display: none;
  }
  .text{
    font-size: 10px;
  }

  footer::before {
    width: 75%;
  }
}
